@{
    ViewBag.Title = "Home Page";
}



<div class="row" style="margin-top:32px;">
    <div class="col-md-4">
        <h2>CI/CD Demo</h2>
        <p><a class="btn btn-default" onclick="DisplayImage()">Click To Display Picture</a></p>
    </div>

    <div class="col-md-4">
        <div class="hidden" id="imgBox">
            <img src="~/Content/Images/Beach.jpeg" class="img-fluid" />
        </div>
        <div class="hidden">
            <img src="~/Content/Images/Lake.jpg" class="img-fluid" />
        </div>
    </div>
</div>